@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Fjalla One", sans-serif;
}

:root {
  --full-size: 100%;
  --medium-size: 50%;
  --color1: #222831;
  --color2: #393e46;
  --color3: #00adb5;
  --color4: #eeeeee;
  --color5: #feffff;
  --color6: #ffc7c7;
  --color7: #cf7500;
  --font-normal: 24px;
  --font-small: 14px;
  --font-big: 36px;
  --navbar-title-section: 50%;
  --navbar-menu-section: 50%;
  --card-width: 40%;
}

html,
body {
  width: var(--full-size);
  height: var(--full-size);
}

body {
  background-color: var(--color4);
}

.container {
  text-align: center;
  padding-top: 300px;
}

.header {
  display: flex;
  padding: 10px 25px;
  font-size: 24px;
  height: 60px;
  justify-content: space-between;
  background-color: var(--color1);
}

.header-title {
  width: var(--navbar-title-section);
  height: inherit;
  display: flex;
  align-items: center;
}

.header-menu {
  width: var(--navbar-menu-section);
  height: inherit;
}

.header-menu ul li {
  display: block;
}

.header a:hover {
  color: var(--color7);
  transition: 0.3s;
}

.header-menu ul {
  display: flex;
  justify-content: space-around;
  height: inherit;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: var(--color6);
}

section {
  margin: 25px;
  padding: 15px 30px;
}

.section-title {
  text-align: center;
  margin: 25px;
  color: var(--color);
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.social-card {
  width: var(--card-width);
  margin: 0px 0px 30px 0px;
  padding: 15px;
  border: 2px solid rgba(128, 128, 128, 0.377);
  box-shadow: 0 10px 10px rgba(59, 43, 91, 0.7);
}

.social-card:hover {
  box-shadow: 0 10px 30px rgba(59, 43, 91, 0.7);
  transition: 0.8s;
}

.card-icon {
  text-align: center;
  font-size: var(--font-big);
}

.card-description {
  text-align: center;
}

.card-description h3,
.card-description p {
  margin-bottom: 10px;
}

.card-description a {
  text-align: center;
  text-decoration: none;
  color: var(--color7);
}

.card-description a:hover {
  color: rgb(253, 160, 176);
  transition: 0.3s;
}

/* ----------------- Seccion responsiva */

@media screen and (min-width: 300px) and (max-width: 700px) {
  :root {
    --navbar-title-section: 30%;
    --navbar-menu-section: 70%;
    --card-width: 100%;
  }

  header a {
    font-size: var(--font-small);
  }
}

@media screen and (min-width: 700px) and (max-width: 850px) {
  :root {
    --navbar-title-section: 35%;
    --navbar-menu-section: 65%;
    --card-width: 100%;
  }

  header a {
    font-size: var(--font-normal);
  }
}
